.previewContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
}

.sectionTitle {
    font-size: 1.5em;
    border-bottom: 2px solid blue;
    width: 85%;
    margin-bottom: 1rem;
}

.personalInfoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.personalInfoSpan {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.briefIntroduction {
    text-align: left;
    width: 89%;
    word-break: break-all;
    white-space: normal;
}

.workExperienceContainer, .educationContainer {
    font-size: 0.7em;
    padding: 0.2rem;
    padding-left: 0;  
    padding-bottom: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 85%;
}

.workExperienceContainer ul, .educationContainer ul {
    padding-left: 0;  
    margin: 0;  
}

.experienceSubSection, .educationSubSection {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 0.6rem;  
    border-bottom: 1px solid #eee;
    list-style: none;
    animation: fade-in 0.8s;
}

@keyframes fade-in {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 2;
    }
}

.companyName {
    color: #2563eb;
    margin-bottom: 0.25rem;
}

.postionInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.postionInfo h3 {
    color: #4b5563;
    margin: 0;
    font-size: 1.2rem;

}

.postionInfo span {
    color: #6b7280;
    font-size: 0.9rem;
}

.experience {
    text-align: left;
    color: #374151;
    line-height: 1.5;
    font-size: 0.95rem;
    white-space: normal;
    word-break: break-all;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    width: 85%;
    margin-top: 1rem;
}

.skillsContainer li {
    background-color: #f3f4f6;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    color: #4b5563;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.skillsContainer li:hover {
    transform: translateY(-2px);
    background-color: #e5e7eb;
}

.skillItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skillName {
    font-weight: 1000;
    font-size: 1.05rem;
    color: #2563eb;
    font-style: italic;
}

@media print {
    .skillsContainer li {
        box-shadow: none;
        page-break-inside: avoid;
    }
}

.print-ready * {
    animation: none !important;
    opacity: 1 !important;
}

.print-ready .deleteButton {
    display: none !important;
}

.print-ready .previewContainer {
    margin-left: 2%;
}